<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/css.ejs') %>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogify</title>
  </head>
  <body>
    <div class="container mt-2">
      <h1><%= blog.title %></h1>
      <p><%= blog.body %></p>
    </div>
  </body>
</html>
